{% extends 'layouts/base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
<section class="login_section">
    <div class="container">
        <form method="post" class="login_card_body_div">
            <h3 class="title">Welcome Back!</h3>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-warning" role="alert">
                    {{form.non_field_errors}}
                </div>
            {% endif %}
            <div class="login_inputs_div">
                <input type="text" placeholder="Enter Username" name="username" required/>
            </div>
            <div class="login_inputs_div">
                <input type="password" placeholder="Enter Password" name="password" required/>
            </div>
            <a href="{% url 'reset-password' %}">Forgot Password?</a>
            <div class="login_btn_div">
                <button type="submit">Login</button>
            </div>
            <hr>
            <div class="login_last_text_div">
                <a href="{% url 'signup' %}">Create an Account!</a>
            </div>
        </form>
    </div>
</section>
{% endblock content %}